@import "tailwindcss";
/* @import "@fontsource/lexend/400.css"; */
/* @import "@fontsource/lexend/700.css"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #6632FF;
  --green: #F6F4EE;
  --purple1: #E9E1FF;
  --purple2: #262651;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    @extend .light;
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: 'Lexend', 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif; */
}

